@import "tailwindcss";

@theme {
  /* GREEN */
  --color-primary-1: #4ea674;
  /* DARK GREEN */
  --color-secondary-1: #023337;
  /* LIGHT GREEN */
  --color-secondary-2: #c1e6ba;
  /* VERY LIGHT GREEN */
  --color-accent: #eaf8e7;
  /* VIOLET */
  --color-primary-2: #6467f2;
  /* SUCCESS */
  --color-success: #21c45d;
  /* PENDING */
  --color-pending: #f0d411;
  /* ERROR */
  --color-error: #ef4343;
  /* GRAY */
  --color-gray: #7c7c7c;

  --font-lato: "Lato", system-ui, sans-serif;
}
